<div class="app-home-wrapper app-home__start">
  <div class="app-home__description">
    <h1>Work around you and your team</h1>
    <p>From ads that dance or sing to MTV-like commercials, online advertisers are now using a new type of technology
      “rich media” to attract consumers.</p>
    <button mat-button class="app-button">get started</button>
  </div>
  <div class="app-home__start-placeholder">
    <div class="app-home__start-video">
    </div>
  </div>
</div>

<div class="app-home-wrapper app-home__about">
  <img class="app-home__about-placeholder" src="/assets/img/PlaceholderAbout.png" alt="placeholder">
  <div class="app-home__description">
    <h2>We solve digital problems with an outstanding creative flare</h2>
    <div class="app-home__about-description">
      <p>The best time to view the moon, obviously, is at night when there are few clouds and the weather is accommodating for a long and lasting study.</p>
      <p>For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.</p>
    </div>
  </div>
</div>

<div class="app-home__services">
  <h3 class="app-home__title _light">— Services</h3>
  <div class="app-home-wrapper">
    <h4>We love work hard and explore new things that’s why we cover lot of things. Check our service list and view details</h4>
    <ul class="app-home__services-list">
      <li class="app-home__services-list-item">Multimedia</li>
      <li class="app-home__services-list-item">Interactive design</li>
      <li class="app-home__services-list-item">Packaging</li>
      <li class="app-home__services-list-item">Branding</li>
      <li class="app-home__services-list-item">Creative Strategy</li>
      <li class="app-home__services-list-item">UI/UX</li>
      <li class="app-home__services-list-item">Coding</li>
    </ul>
  </div>
</div>
