:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.app-header {
  height: 142px;

  &-navigation {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-list {
    list-style: none;
  }

  &-route {
    text-decoration: none;
  }
}
