:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: 100%;
  background-color: coral;
}

.app-header {
  &-navigation {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-list {
    list-style: none;
  }

  &-route {
    text-decoration: none;
  }
}
